# Hasura
NODE_ENV=staging
GRAPHQL_API=http://localhost:8080/v1/graphql
GRAPHQL_SECRET_KEY=tolc2010
HOST=localhost
PORT=2002
APP_URL_CLIENT=http://localhost:3000
OTHER_URLS_CLIENT=["http://localhost:3000"]

# JWT
JWT_SECRET_KEY=l e c o n g t o
JWT_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Send mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@gmail.com
MAIL_FROM_NAME=Supper Atoos
FORGOT_PASSWORD_EXPIRES_IN=10m

#Docker
DOCKER_POSTGRES_CONTAINER=postgres_container
DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_USER=tolc
DOCKER_POSTGRES_PASSWORD=tolc2010
DOCKER_POSTGRES_DB=postgres
DOCKER_HASURA_PORT=8080
DOCKER_HASURA_CONTAINER=hasura_container
DOCKER_HASURA_GRAPHQL_ADMIN_SECRET=12345678
DOCKER_DATA_CONNECTOR_PORT=8081
DOCKER_DATA_CONNECTOR_CONTAINER=data_connector_agent_container
DOCKER_REDIS_PORT=6379
DOCKER_REDIS_CONTAINER=redis_container
DOCKER_REDIS_PASSWORD=12345678

# Cookie
COOKIE_DOMAIN=localhost